{% extends "base_top_top_bottom.html" %}
{% load static from staticfiles %}

{% block head %}
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock head %}

{% block body5 %}
<div class="tishi">
	<div>
		<span>尊敬的用户您好,本站所有内容仅为学习资料使用,不含任何商业性质及支付接口,如您不小心点进来,请点击右上角关闭按钮,给您带来的不便敬请谅解!!!</span>
	</div>
</div>
{% endblock body5 %}

{% block body3 %}

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="{% static 'images/slide.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide02.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide03.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide04.jpg' %}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="/goods/list/211"><img src="{% static 'images/adv01.jpg' %}"></a>
			<a href="/goods/list/511"><img src="{% static 'images/adv02.jpg' %}"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>

				{% for i in goods01 %}
                    <a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a>
                {% endfor %}

			</div>
			<a href="/goods/list/111" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner01.jpg' %}"></div>
			<ul class="goods_list fl">

				{% for i in goods1%}
                    <li>
                        <h4><a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a></h4>
                        <a href="/goods/detail/{{ i.id }}"><img src="{% static i.gimg %}"></a>
                        <div class="prize">¥ {{ i.grmb }}</div>
                    </li>
				{% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>

				{% for i in goods02 %}
                    <a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a>
                {% endfor %}

			</div>
			<a href="/goods/list/211" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner02.jpg' %}"></div>
			<ul class="goods_list fl">

				{% for i in goods2%}
                    <li>
                        <h4><a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a></h4>
                        <a href="/goods/detail/{{ i.id }}"><img src="{% static i.gimg %}"></a>
                        <div class="prize">¥ {{ i.grmb }}</div>
                    </li>
				{% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>

				{% for i in goods03 %}
                    <a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a>
				{% endfor %}

			</div>
			<a href="/goods/list/311" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner03.jpg' %}"></div>
			<ul class="goods_list fl">

				{% for i in goods3%}
                    <li>
                        <h4><a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a></h4>
                        <a href="/goods/detail/{{ i.id }}"><img src="{% static i.gimg %}"></a>
                        <div class="prize">¥ {{ i.grmb }}</div>
                    </li>
				{% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>

				{% for i in goods04 %}
                    <a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a>
				{% endfor %}

			</div>
			<a href="/goods/list/411" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner04.jpg' %}"></div>
			<ul class="goods_list fl">

				{% for i in goods4%}
                    <li>
                        <h4><a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a></h4>
                        <a href="/goods/detail/{{ i.id }}"><img src="{% static i.gimg %}"></a>
                        <div class="prize">¥ {{ i.grmb }}</div>
                    </li>
				{% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>

				{% for i in goods05 %}
                    <a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a>
				{% endfor %}

			</div>
			<a href="/goods/list/511" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner05.jpg' %}"></div>
			<ul class="goods_list fl">

				{% for i in goods5%}
                    <li>
                        <h4><a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a></h4>
                        <a href="/goods/detail/{{ i.id }}"><img src="{% static i.gimg %}"></a>
                        <div class="prize">¥ {{ i.grmb }}</div>
                    </li>
				{% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>

				{% for i in goods06 %}
                    <a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a>
				{% endfor %}

			</div>
			<a href="/goods/list/611" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner06.jpg' %}"></div>
			<ul class="goods_list fl">

				{% for i in goods6%}
                    <li>
                        <h4><a href="/goods/detail/{{ i.id }}">{{ i.gname }}</a></h4>
                        <a href="/goods/detail/{{ i.id }}"><img src="{% static i.gimg %}"></a>
                        <div class="prize">¥ {{ i.grmb }}</div>
                    </li>
				{% endfor %}

			</ul>
		</div>
	</div>
{% endblock body3 %}

{% block body_bottom %}
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>
{% endblock body_bottom %}
