{% extends "base_bottom.html" %}
{% load static from staticfiles %}

{% block body %}
<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="login_btn fl"><a href="http://ihome.newzn.cn" style="margin-left:30px" target="_blank">爱家项目</a></div>
			<div class="login_btn fl"><a href="https://github.com/pyhcss/ttsx" style="margin-left:30px;margin-right: 30px" target="_blank">源码直通车</a></div>
			<div class="python fl" >
				<p>python交流群</p>
				<div class="python_show">
					<img src="{% static 'images/python.jpg' %}">
					<p style="display: none">二维码若失效加网页最下方微信号备注python交流群即可</p>
				</div>
			</div>
			<div class="fr">
				{% if user.uname %}
				<div class="login_info fl" style="display: block">
					欢迎您：<em>{{ user.uname|safe }}</em>
					<a href="/user/logout" class="zhuxiao">注销</a>
				</div>
				<div class="login_btn fl" style="display:none">
					<a href="/user/login">登录</a>
					<span>|</span>
					<a href="/user/register">注册</a>
				</div>
				{% else %}
				<div class="login_info fl">
					欢迎您：<em>""</em>
					<a href="/user/logout" class="zhuxiao">注销</a>
				</div>
				<div class="login_btn fl">
					<a href="/user/login">登录</a>
					<span>|</span>
					<a href="/user/register">注册</a>
				</div>

				{% endif %}

				<div class="user_link fl">
					<span>|</span>
					<a href="/user/centerinfo">用户中心</a>
					<span>|</span>
					<a href="/cart/cartinfo">我的购物车</a>
					<span>|</span>
					<a href="/user/centerorder">我的订单</a>
				</div>
			</div>
		</div>
	</div>
{% block body5 %}{% endblock body5 %}

{% block body2 %}{% endblock body2 %}

{% endblock body %}