{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<script>
		var _hmt = _hmt || [];
		(function() {
  			var hm = document.createElement("script");
  			hm.src = "https://hm.baidu.com/hm.js?20170dabc7764ef39f6add724c1a2599";
  			var s = document.getElementsByTagName("script")[0];
  			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js'%}"></script>

	{% block head %}{% endblock head %}

</head>
<body>

	{% block body %}{% endblock body %}

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="http://ihome.newzn.cn" target="_blank">爱家项目</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>本站所有资料均来源于网络、不含任何商业性质与支付接口、仅做个人学习与参考使用、欢迎各类开发人员学习与测试</p>
        <p>如有侵权请联系我: 微信 L593534558　京ICP备17015779号</p>
	</div>

	{% block body_bottom %}{% endblock body_bottom %}

</body>
</html>